/* Old template fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); */

/* NEW fonts */
/* Title/Header font: Playwrite IT Moderna */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
/* Body text font: Lucida Sans */
@font-face {
    font-family: 'Lucida Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lucida Sans Regular'), url('LSANS.woff') format('woff');
}


body {
    background-color: var(--shade-2-periwinkle);
    /* font-family: "Ubuntu", serif; */
    font-family: "Lucida Sans Regular", serif;

    /* --hue: 100;
    --main-colour: hsl(var(--hue), 70%, 67%);
    --dark-colour: hsl(var(--hue), 100%, 20%); */

    /* NEW colour variables */
    --shade-1-platinum: #eaeaea;
    --shade-2-periwinkle: #cbc5ea;
    --shade-3-pomp-and-power: #73628a;
    --shade-4-delft-blue: #313d5a;
    --shade-5-gunmetal: #183642;
}

header {
    font-family: "Playwrite IT Moderna", serif;
    text-align: center;
    background-color: var(--shade-5-gunmetal);
    color: black;
    padding: 35px;
    font-size: 25px;
    margin-bottom: 15px;

    /* position: sticky; */
    top: 0;
    z-index: 99999999;

}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    background-color: var(--shade-4-delft-blue);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.284);
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    /* font-size: 1.2em; */
    transform: scale(1.2);
    color: black;
}

#zawg {
    max-width: 20%;
    margin: auto;
}

#schlawg, #zawg-manager {
    max-width: 40%;
    margin: auto;
}

#ripzawg {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
}

a:visited {
    color: var(--shade-1-platinum);
}
a:focus {
    outline: 4px solid red;
}

footer {
    padding: 35px;
    background-color: var(--shade-5-gunmetal);
    color: white;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Playwrite IT Moderna", serif;
}

p {
    font-family: "Lucida Sans Regular", serif;
    padding: 35px;
}

/* Different types of Divs */
.span-two {
    grid-column: span 2;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px;
}
.card {
    background-color: var(--shade-3-pomp-and-power);
    border-radius: 10px;
    margin: 1em;
    padding: 0.5em;
    border: 2px solid var(--shade-5-gunmetal);
    box-shadow: 0 3px 5px black;
    position: relative;
}
.card p {
    margin: 0;
}
.table {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

#graveyard {
    background: url(https://i.etsystatic.com/40124995/r/il/c20de6/5136028821/il_fullxfull.5136028821_s972.jpg);
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .grid {
        grid-template-columns: 1fr;
    }

    .card {
        border-radius: 0;
        border-left: 0;
        border-right: 0;

    }
}